{% extends 'reciperecommend/base.html' %}

{% block content %}
<div style="margin-top: 20px;">
  <h5 tyle="text-align: center;">レシピ情報を入力してください</h5>
</div>
<form method="POST" class="register-form ">{% csrf_token %}
  <div class="row" style="margin-top:30px;">
    <div class="range col-lg-6 offset-md-3">
      {{ form }}
    </div>
  </div>

<!-- 送信（保存）ボタン-->
  <button type="submit" class="save btn btn-warning offset-md-3" style="margin-top: 30px;">登録</button>
  <a href="/dish_history"><button class="btn btn-outline-warning" style="margin-top: 30px;" type="button" name="history">一覧へ</button></a>  
  <a href="{% url 'index' %}"><button class="btn btn-outline-warning" style="margin-top: 30px;" type="button" name="history">戻る</button></a>
</form>
  {% endblock %}