{% extends 'reciperecommend/base.html' %}

{% block content %}
<div style="margin-top: 20px;">
  <h5 style="text-align: center;">作った料理の栄養と材料・調理工程を入力し、登録ボタンを押してください</h5>
</div>
<form method="POST" class="register-form ">{% csrf_token %}
  <div class="row" style="margin-top:30px;">
    <div class="range col-lg-6 offset-md-3">
      {{ form }}
    </div>
  </div>

<!-- 送信（保存）ボタン-->
  <div class="pb-3">
  <button type="submit" id="inference" class="save btn btn-info offset-md-3" style="margin-top: 30px;">登録</button>
    <a href="/dish_history"><button class="btn btn-outline-info" style="margin-top: 30px;" type="button" name="history">登録した料理一覧</button></a>  
    <a href="{% url 'index' %}"><button class="btn btn-outline-info" style="margin-top: 30px;" type="button" name="history">戻る</button></a>
  </div>
</form>
  {% endblock %}