{% extends 'reciperecommend/base.html' %}

{% block title %}料理一覧{% endblock %}

{% block content %}
<div class="container" style="margin-top: 20px;">
  <div class="text-end" style="margin-top: 20px; margin-bottom: 20px">
    <form action="" method="get">
      <input name="query" value="{{ request.GET.query }}" type="text">
      <button class="btn btn-info" type="submit">検索する</button>
    </form>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>料理名</th>
        <th>エネルギー</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in object_list %}
       <tr>
         <td>{{recipe.id}}</td>
         <td>{{recipe.name}}</td>
         <td>{{recipe.energy}}</td>
         <td><a href="{% url 'dish_master_detail' recipe.id %}">詳細</a></td>
       </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="text-end">
    <a href="{% url 'index' %}"><button class="btn btn-outline-info" style="margin-top: 30px; margin-bottom: 30px;" type="button" name="history">戻る</button></a>
  </div>
</div>
{% endblock %}