{% extends 'reciperecommend/base.html' %}

{% block title %}料理の編集{% endblock %}

{% block content %}
{% for message in massages %}
 <div class="alert alert-success">{{message}}</div>
{% endfor %}

<ul>
  {% for field in form %}
   {% for error in field.errors %}
    <li>{{error}}</li>
   {% endfor %}
  {% endfor %}
</ul>

<form class="range col-lg-6 offset-md-3" action="{% url 'dish_history_update' id %}" method="POST" novalidate>
  {% csrf_token %}

  {% for field in form %}
    <div class="pl-2">
      {{ field.label_tag }}
      {{ field }}
      {{ field.erros | yesno:'*,'}}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-warning offset-md-3" style="margin-top: 30px;">更新</button>
  <a href="{% url 'dish_history' %}"><button class="btn btn-outline-warning" style="margin-top: 30px;" type="button" name="history">戻る</button></a>
</form>
{% endblock %}