{% extends 'reciperecommend/base.html' %}

{% block title %}1週間の履歴から料理をレコメンド{% endblock %}

{% block content %}
<div style="margin-top: 20px;">
  <h5 style="text-align: center;">
  <p>過去1週間分の食事の栄養から、おすすめの料理を表示します</p>
  <p>年齢区分と性別を選択して、レコメンドをクリックしてください</p>
  </h5>
</div>

<form action="{% url 'recommend_by_dri' %}" method="POST" >
  {% csrf_token %}
  <div class="row" style="margin-top:30px;">
    <div class="range col-lg-6 offset-md-3">
      {{ form }}
      <div class="text-end" style="margin-top: 20px; margin-bottom: 20px;">
        <button type="submit" class="save btn btn-info offset-md-3" style="margin-top: 30px;">レコメンド</button>
      </div>
    </div>
  </div>

</form>

<div class="range col-lg-6 offset-md-3" style="margin-top: 30px;">
  <div style="margin-top: 20px;">
    <h5 style="text-align: center;">おすすめの料理</h5>
  </div>
  <table class="table">
    <tr>
      <th>{{ message_label }}</th>
      <td>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>{{ recomend_dish_label }}</th>
      <td>
        {% for dish in recommend_dish_list %}
          <p>{{ dish }}</p>
        {% endfor %}
      </td>
    </tr>
  </table>

  <div class="text-end" style="margin-bottom: 30px;">
    <a href="{% url 'index' %}">
      <button class="btn btn-outline-info" style="margin-top: 30px;" type="button">戻る</button>
    </a>
  </div>
</div>

<!--
<p><h3>{{ message_label }}</h3></p>
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}

<p><h3>{{ recomend_dish_label }}</h3></p>
{% for dish in recommend_dish_list %}
  <p>{{ dish }}</p>
{% endfor %}


-->

<!--
<form class="register-form" action="{% url 'recommend_by_dri' %}" method="post" novalidate>
  {% csrf_token %}
  {{ message }}

  {% for field in form %}
    <div class="pl-2">
      {{ field.label_tag }}
      {{ field.value }}
    </div>
  {% endfor %}

  <input type="submit" value="レコメンド" />
</form>
-->
{% endblock %}